
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<body>

  <div class="wrapper">
    <form>
      <h1>Registrarse</h1>
      <div class="input-box">
        <input type="text"  placeholder="E-Mail"
         required>        <ion-icon name="mail-outline"></ion-icon>

      </div>

      <div class="input-box">
        <input type="text"   placeholder="Usuario"
         required>        <ion-icon name="person-circle-outline"></ion-icon>

      </div>
      <div class="input-box">
        <input type="password"  placeholder="Contraseña"
         required>        <ion-icon name="lock-closed-outline"></ion-icon>

      </div>
      
     

      <button type="submit" class="btn">Crear Cuenta</button>

      <div class="register-link">
        <p>¿Ya tienes una cuenta? <a
          [routerLink]="['/login']" style="color:inherit; text-decoration:none;">Acceder</a></p>
      </div>
    </form>
  </div>

</body>